body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #553055;
}

.App {
  background: #a17fa1;
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 15px;
}
nav {
  padding: 5px;
  border-radius: 10px;
}

.navbar {
  background: #910091;
  border-radius: 15px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
.book-list {
  padding: 20px;
  margin-bottom: 20px;
}
.book-list ul {
  padding: 0;
  list-style-type: none;
}
.book-list li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}
.book-list li:hover {
  text-decoration: line-through;
}
